.filterpage {
   border: 1px solid #fff;
   width: 90%;
   height: 96vh;
   margin: 0 auto;
   margin-top: 12px;
   background-color: #095979;

   .row1,
   .row2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: auto;
      width: auto;
   }

   .row-manager {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      padding-right: 5%;
   }

   .label-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 2%;
      padding: 2%;
   }

   .span-icon-box {
      display: flex;
      flex-direction: row;
      width: 100%;
   }

   .span-icon {
      display: flex;
      border-right: solid 1px white;
      padding-right: 9%;
   }

   .span-text {
      display: flex;
      align-items: center;
      padding: 1%;
      margin-left: 8%;
   }

   background: #095979;
   h1 {
      text-align: left;
      font-family: "Montserrat";
      font-size: 40px;
      margin: 20px;
      color: white;
      text-transform: uppercase;
      .color {
         color: #fdcb9c;
      }
   }

   h2 {
      margin: 20px;
   }

   form {
      color: white;
      .checkboxes {
         display: flex;
         flex-direction: row;
         width: 100%;
         margin-bottom: 2em;
      }
      label {
         text-transform: uppercase;
         font-weight: bold;
         font-size: 0.8em;
         width: 50%;
      }
      input[type="checkbox"] {
         display: none;
      }
      input:checked + div {
         color: #a5e9c0;
         svg path {
            stroke: #a5e9c0;
            fill: #a5e9c0;
         }
      }

      button {
         padding: 2%;
         margin: 0em 0em 0em 2em;
         border: none;
         font-weight: bold;
         background-color: #ea4242;
         color: white;
         text-transform: uppercase;
      }
   }
   .logo {
      color: white;
      width: 45%;
      position: absolute;
      right: 19px;
      bottom: 14px;
   }
}
